@type: extra;
@element: custom;

@import (multiple, reference, optional) '../../theme.config';

@import 'swiper/swiper.less';

@{view} {
  .species-banner-details {
    &::before {
      .full-width();
      position: absolute;
      z-index: -1;
    }

    .carousel {
      .half-width(960px);

      @media @mobile {
        width: calc(@pageFullWidth - 2rem) !important;
      }
    }
  }
}

@{edit} {
  .species-banner-details {
    &::before {
      .full-width-edit();
      position: absolute;
      z-index: -1;
    }

    .carousel {
      .half-width-edit(960px);

      @media @mobile {
        width: calc(@pageFullWidthEdit - 2rem) !important;
      }
    }
  }
}

div#view .species-banner-details .ui.container > * {
  margin-top: 0;
  margin-bottom: 0;
}

.species-banner-details {
  position: relative;
  padding: 0;
  margin-bottom: 1rem;
  color: #fff !important;
  font-family: 'RajdhaniB', 'Helvetica Neue', Arial, Helvetica, sans-serif;

  &::before {
    display: block;
    height: 100%;
    background-color: #00a390;
    content: '';
  }

  .species-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .species-metadata {
      display: flex;
      width: 50%;
      height: 320px !important;
      flex: 0 0 50%;
      flex-direction: column;
      justify-content: center;
      word-wrap: break-word;

      .name {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        color: #fff !important;
        font-family: inherit;

        font-family: RajdhaniB, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 54px;
        line-height: 54px;
        text-transform: uppercase;

        > * {
          font-family: RajdhaniB, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        }
      }

      h3 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        color: #fff !important;
        font-family: inherit;
        font-size: 32px;
        line-height: 32px;
        text-transform: uppercase;
      }

      h4 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        color: #fff !important;
        font-family: inherit;
        font-size: 32px;
        line-height: 32px;
        text-transform: uppercase;
      }

      .info,
      .info > * {
        font-family: 'RajdhaniR', 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;

        a {
          color: #fff;

          &:hover {
            color: #fff;
          }
        }
      }
    }

    .carousel {
      display: flex;
      height: 320px;

      p {
        font-family: 'RajdhaniB', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      }

      img {
        width: 100%;
      }

      &.one-slide .swiper {
        width: 100%;
      }

      &.two-slides .swiper {
        width: 50%;

        @media @mobile {
          width: 100%;

          &.preview.preview-one {
            display: none;
          }
        }
      }

      &.three-slides .swiper {
        width: 33.33%;

        @media @tablet {
          width: 50%;

          &.preview.preview-two {
            display: none;
          }
        }

        @media @mobile {
          width: 100%;

          &.preview.preview-two,
          &.preview.preview-one {
            display: none;
          }
        }
      }

      .swiper {
        &.preview .swiper-slide {
          filter: grayscale(100%);
        }

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .arrows {
        position: absolute;
        z-index: 2;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        align-items: center;

        button {
          padding: 0;
          border: none;
          margin: 0;
          background-color: transparent;
        }

        .icon {
          display: block;
          width: 32px;
          background-color: #fff;
          cursor: pointer;
        }

        p {
          overflow: hidden;
          width: calc(100% - 64px);
          padding: 0.25rem 0.25rem 0.25rem 1rem;
          margin: 0;
          backdrop-filter: brightness(0.5);
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }

    @media @mobile {
      flex-flow: column;

      .species-metadata {
        width: 100%;
        margin-top: 2rem;
      }

      .carousel {
        margin: 0 1rem 1rem 1rem;
      }
    }
  }
}
