.language-selector {
  .ui.dropdown {
    &:not(.button) .text,
    &:not(.button) .default.text {
      color: #999999;
      text-transform: uppercase;
      font-family: OpenSans, 'Raleway', sans-serif;

      &:hover {
        color: #3b7f02;
      }
    }

    .menu {
      margin-top: 0.5rem;
      margin-left: -0.6rem;

      .item {
        background: #fff !important;

        .text {
          color: #999999;
          font-weight: bold;
          font-size: 1rem;
          text-transform: uppercase;
          font-family: OpenSans, 'Raleway', sans-serif;
        }

        &.active.selected {
          background: #fff !important;

          .text {
            color: #3b7f02;
          }

          &::before {
            opacity: 0;
            display: none !important;
          }
        }
      }
    }
  }
}
