.computer.hidden.language-selector-wrapper {
  .language-selector > .ui.dropdown {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
  }
}

.language-selector {
  margin-right: 0;

  .ui.dropdown {
    .divider.text {
      display: inline-block;
      color: #005248 !important;
      font-family: OpenSans, 'Raleway', sans-serif;
      font-weight: 700;
      text-transform: uppercase;
    }

    .ui.image {
      display: inline-block;
      margin-right: 0.25rem;
    }

    &:hover {
      .divider.text {
        color: #00a390 !important;
      }
    }

    > .menu {
      position: absolute;
      top: 30px !important;

      .item {
        background: #fff !important;

        .text {
          color: #005248;
          font-family: OpenSans, 'Raleway', sans-serif;
          font-size: 1rem;
          font-weight: 700;
          text-transform: uppercase;
        }

        &:hover {
          .text {
            color: #00a390;
          }
        }
      }
    }
  }

  &.landingpage-variation {
    .divider.text {
      color: #fff !important;
      font-size: 20px;
    }
  }
}
