.natura2000-theme {
  .site-banner {
    font-family: 'RajdhaniB';
    color: #fff;
    padding: 1.5em 0;
    background-color: #04a77d;

    .ui.container > * {
      margin-bottom: 0 !important;
    }

    .block .ui.image {
      width: auto;
    }
  }

  .country-title {
    font-family: inherit;
    font-size: 54px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 0.5em !important;
    margin-bottom: 0 !important;
  }

  .site-name {
    font-family: 'RajdhaniR';
    font-size: 18px;
  }

  .info-icon {
    display: inline-block !important;
    width: auto !important;
    margin-left: 15px;
  }

  .site-details-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

.site-detail {
  flex: 0 1 30%;
  margin-top: 2.5em;

  .upper {
    margin-bottom: 0.2em;
    font-size: 34px;
    font-weight: 700;
  }

    .site-detail {
      flex: 0 1 30%;
      margin-top: 3em;
      padding-right: 1em;

      .upper {
        font-size: 39px;
        font-weight: 700;
        margin-bottom: 0.2em;
      }

      .lower {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}