.exploded-pies-chart {
  div.tooltip {
    position: absolute;
    z-index: 999;
    max-width: 200px;
    padding: 1em 2em;
    border: 0px;
    background: #629fca;
    border-radius: 8px;
    border-radius: 1px solid #ccc;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    color: #fff;
    font: 12px sans-serif;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    transform: translate(-50%, -120%);

    &:before {
      position: absolute;
      top: 99%;
      left: 50%;
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 6px;
      border-top-color: #629fca;
      margin-left: -6px;
      content: ' ';
      pointer-events: none;
    }
  }
}
