.tiles-images {
  display: flex;
  flex-flow: row;
  margin-bottom: 1rem;

  &:not(.edit) {
    margin-left: -0.5rem;
  }

  &.light {
    p.with-border img {
      border: 1px solid #fff;
    }
  }

  &.grey {
    p.with-border img {
      border: 1px solid #c9c9c9;
    }
  }

  &.dark {
    p.with-border img {
      border: 1px solid #000;
    }
  }

  p.with-border {
    margin: 0 0.5rem;

    &.rounded-border img {
      border-radius: 100%;
    }

    a {
      display: block;
    }

    img {
      width: 130px;
      height: 130px;
      padding: 6px;
      border-radius: 100%;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
