div#view .ui.container > .sticky-navigation-anchors {
  margin-bottom: 0;

  .ui.menu {
    margin-bottom: 0;
  }
}

.navigation-anchors {
  padding: 1rem 0;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 10px -5px #000000;
  box-shadow: 0px 0px 10px -5px #000000;

  .ui.container > .ui.menu {
    border: 0;
    box-shadow: none;
    overflow-x: auto;

    .item {
      padding: 1rem;
      background: none;
      color: #000;
      font-family: 'Raleway', sans-serif;
      font-weight: normal;

      p,
      a {
        color: #000;
        font-size: 16px;
        font-weight: normal;

        &:hover {
          opacity: 0.9;
        }
      }

      &.active {
        color: #04a87d;
      }

      &::before {
        display: none;
      }
    }
  }
}
