a.image-text:hover {
  opacity: 0.9;
}

.image-text {
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-bottom: 1rem;

  .slate-editor {
    width: 100%;
  }

  &.light {
    .p-image.with-border img {
      border: 1px solid #fff;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span {
      color: #fff !important;
    }
  }

  &.grey {
    .p-image.with-border img {
      border: 1px solid #c9c9c9;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span {
      color: #c9c9c9;
    }
  }

  &.dark {
    .p-image.with-border img {
      border: 1px solid #000;
    }

    h1,
    h2,
    h3,
    h4,
    p,
    span {
      color: #000;
    }
  }

  .p-image {
    margin-bottom: 0 !important;

    a {
      display: block;
    }

    img {
      width: 130px;
      height: 130px;
      padding: 6px;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }

  .p-image.rounded-border {
    border-radius: 50%;

    img {
      border-radius: 50%;
    }
  }

  .p-image.with-border {
    margin: 0 0.5rem;
  }
}
