div#view .ui.container > .site-shape-wrapper,
div#view .ui.container > .site-shape {
  margin-bottom: 0;
}

.site-shape {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  background-color: #f8f8f8;

  &.visible.transition {
    display: flex !important;
  }
}
