div#view .site-species-list .species-group-filter .ui.container > *,
div#view .site-species-list .species-filters .ui.container > *,
div#view .site-species-list .ui.container.species-container > * {
  margin-bottom: 0;
}

.site-species-list {
  margin-top: -1.5rem;

  .species-group-filter {
    background-color: #04a87d;

    .ui.container {
      display: flex;
      align-items: center;
      justify-content: center;

      button.species-group-filter {
        padding: 1rem;
        border: none;
        background-color: transparent;
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        text-transform: uppercase;

        &.active,
        &:hover {
          padding-bottom: calc(1rem - 3px);
          border-bottom: 3px solid #fff;
        }
      }
    }
  }

  .species-filters {
    padding-top: 1rem;

    .ui.container {
      display: flex;
      justify-content: space-between;

      .filters {
        display: flex;
        flex-flow: row;
        justify-content: center;

        .ui.button.dropdown,
        button {
          border: 1px solid #0000001f;
          background-color: #fff;
          color: #000;
          cursor: pointer;
        }
      }
    }
  }

  .ui.container.species-container {
    .ui.grid.species {
      margin-top: 0;
      margin-right: 0;
      margin-bottom: 0;

      .row {
        padding: 1rem 0;
      }

      .species-photo {
        overflow: hidden;
        padding-right: 0;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .species-details {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: 0;
        background-color: #fff;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;

        .metadata {
          padding: 0 2rem;
          padding-top: 1rem;

          h3.name {
            color: #013c60;
            font-weight: 400;

            .code-2000 {
              color: #0f8f22;
            }
          }
        }

        .footer-metadata {
          padding: 1rem 2rem;
          border-top: 1px solid #e8e8e8;

          .green {
            color: #0f8f22;
          }
        }
      }
    }

    .ui.pagination.menu {
      width: 100%;
      justify-content: center;
    }
  }
}
